.signUp {
  display: block;
  background-color: green;

  .bg-color {
    background-color: #e9ecef;
  }
  
  .text-center {
    background-color: #e9ecef !important;
    font-size: 15px !important;
  }
  
  .select-role {
    margin: 5px;
  }
}
